* {
margin: 0;
padding: 0;
box-sizing: border-box;
}


body {
font-family: 'Poppins', sans-serif;
background: linear-gradient(to right, #a1c4fd, #c2e9fb);
display: flex;
justify-content: center;
align-items: flex-start;
padding: 50px 20px;
min-height: 100vh;
}


.container {
background: rgba(255, 255, 255, 0.3);
backdrop-filter: blur(15px);
border-radius: 20px;
padding: 30px 25px;
width: 100%;
max-width: 500px;
box-shadow: 0 8px 32px rgba(31, 38, 135, 0.2);
border: 1px solid rgba(255, 255, 255, 0.2);
}


h2 {
font-size: 32px;
font-weight: 700;
letter-spacing: 1px;
background: linear-gradient(to right, #ff6a00, #ee0979);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
text-align: center;
margin-bottom: 25px;
position: relative;
animation: fadeInSlide 0.6s ease-in-out;
}

@keyframes fadeInSlide {
0% {
    opacity: 0;
    transform: translateY(-15px);
}
100% {
    opacity: 1;
    transform: translateY(0);
}
}



input[type="text"] {
padding: 12px 16px;
width: 65%;
font-size: 16px;
border-radius: 10px;
border: 1px solid #ccc;
outline: none;
transition: 0.3s;
background: white;
}

input[type="text"]:focus {
border-color: #007bff;
box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
}


button {
padding: 12px 18px;
border: none;
border-radius: 10px;
font-size: 16px;
cursor: pointer;
transition: all 0.25s ease;
}

#addTaskBtn {
background: linear-gradient(to right, #e74f70, #989e9ec3);
color: white;
margin-left: 10px;
}

#addTaskBtn:hover {
opacity: 0.9;
background:linear-gradient(to right, #e74a6e, #978b8bbc);
color: white;
}

#clearAllBtn {
background: linear-gradient(to right, #ff416c, #9d8e8ebc);
color: white;
width: 92%;
margin-top: 20px;
}

#clearAllBtn:hover {
opacity: 0.9;
}


ul {
list-style: none;
margin-top: 20px;
padding-left: 0;
}

li {
background-color: rgba(255, 255, 255, 0.8);
padding: 12px 14px;
margin-bottom: 12px;
border-radius: 12px;
display: flex;
justify-content: space-between;
align-items: center;
transition: background 0.3s ease;
}

li:hover {
background-color: rgba(255, 255, 255, 1);
}


.task-text {
flex: 1;
cursor: pointer;
font-size: 16px;
color: #333;
margin-right: 10px;
}

.completed .task-text {
text-decoration: line-through;
color: #aaa;
}


.deleteBtn {
background-color: #cf6387   ;
color: white;
padding: 6px 12px;
border: none;
border-radius: 6px;
font-size: 14px;
transition: background-color 0.3s ease;
}

.deleteBtn:hover {
background-color: #8a767e;
}


@media (max-width: 600px) {
input[type="text"] {
    width: 100%;
    margin-bottom: 10px;
}

#addTaskBtn {
    width: 100%;
    margin-left: 0;
    flex:0.5;
}
}

.completeBox {
margin-right: 10px;
transform: scale(1.2);
accent-color: #4d6e4e;
cursor: pointer;
}

#taskList {
  max-width: 91%;
  margin: 10 auto;
}
